:root{
    --primary-color: #1a1a1a;
    --info-color: #555555;

    --white-color: #ffffff;

    --main-additionnal-color: #efff61e1;


    --blue-glow-color: #61eFFF;
    --pink-glow-color:  #FF61EF;

}


*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    box-sizing: border-box;
    font-family: "technology";
}


@font-face {
    font-family: "technology";
    src: url(fonts/Technology-Regular.woff2);
}



.main{
    min-height: 100dvh;


    background-color: var(--primary-color);
    color: var(--white-color);


    display: grid;
    
    grid-template-rows: .2fr 1fr;

}

.hidden{
    display: none;
}


.infoArea{

    padding: 1.5rem;

    position: relative;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 10rem;

    align-items: center;
    justify-items: center;

}



.additionnalButton{
    grid-column: 2/3;
    width: 80%;
    
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 2rem;
}


.additionnalButton.hidden{
    display: none;
}


#askNewGame{
    grid-column: 2/3;
}


#reset{
    grid-column: 1/2;
}




#startNewGame, #askNewGame, #reset{
    position: relative;
    background: var(--primary-color);
    color: var(--main-additionnal-color);
    border: 4px solid var(--main-additionnal-color);
    
    padding: 1.5rem 0.15em;

    border-radius: .45em;

    box-shadow:
    inset 0 0 .5em var(--main-additionnal-color),
    0 0 .5em var(--main-additionnal-color);   


    animation: border-flicker 3s linear infinite;   
    
}


#startNewGame::before,
#askNewGame::before,
#reset:before{
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--main-additionnal-color);
    filter: blur(1.5rem);
    opacity: 0;

}


#startNewGame:hover::before,
#askNewGame:hover::before,
#reset:hover::before{
    opacity: 1;
}


#startNewGame:hover,
#askNewGame:hover,
#reset:hover{
    animation: none;
    background-color: var(--main-additionnal-color);
    color: var(--primary-color);

    
}


#startNewGame:hover > span,
#askNewGame:hover > span,
#reset:hover > span {
    animation: none;
}



span.faulty-text{
    letter-spacing: 1rem;
    font-size: 1.3rem;
    font-weight: 600;

    animation: text-flicker 3s linear infinite 
}


#newPlayerData.hidden{
    display: none;
}


#newPlayerData{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
    grid-column: 2/3;
}


#startNewGame{
    grid-column: 1/3;
}


#newPlayerData > div{
    display: grid;
    grid-template-columns: 85% 1fr;
    gap: 0.7rem;

    align-content: center;
}

#newPlayerData input {

    color: var(--main-additionnal-color);

    background: none;

    border: var(--main-additionnal-color) .1em solid;
    border-radius: .25em;

    font-size: 1.5rem;

    line-height: 2.2;

    padding-left: 1.5rem;

    box-shadow: inset 0 0 .45em 0 var(--main-additionnal-color);
}

#newPlayerData > div span{
    font-size: 3.2rem;
    display: flex;
    align-items: center;
}





#p1Score, #p2Score {

    display: flex;
    flex-direction: column;

    border-radius: .5rem;
    position: absolute;
    margin-top: 16rem;
    height: clamp(16rem, 18vw, 19rem);
    width: clamp(13rem, 15vw, 16rem);

    background-color: var(--primary-color);

    z-index: 2;

    animation: glow 4s alternate linear infinite;
}


@keyframes glow {
    from {
        box-shadow: 0 0 .8rem 0.2em var(--player-color);
    }

    to {
        box-shadow: 0 0 0.8rem -0.2rem var(--player-color);
    }
}



#p1Score{
    grid-column: 1/2;
}


#p2Score{
    grid-column: 3/4;
}

@property --angle{
    syntax : "<angle>";
    initial-value: 0deg;
    inherits: false;
}


.infoArea > div:first-child::after, .infoArea > div:nth-child(2):after {
    content: "";
    border-radius: .5rem;

    z-index: 1;

    width: 100%;
    height: 100%;
    padding: 8px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    opacity: 0;
    transition: 800ms;
}


@keyframes spin {
    from {
        --angle : 0deg
    }
    
    to {
        --angle : 360deg;
    }
    
}

.infoArea > div.activeTurn::after{
    background-image: conic-gradient(from var(--angle), transparent 50% , var(--player-color));
    animation: 4s spin linear infinite;
    opacity: 1;
    transition: 600ms;
}


#p1Score > p:first-child,
#p2Score > p:first-child{
    flex: 1;
    font-size: clamp(1rem, 1.5vw, 1.9rem);

    padding: 1rem;
    letter-spacing: .5rem;

    align-items: center;

    background-color:  var(--info-color);

    border-radius: .5rem .5rem 0 0;

}


#p1Score > p:last-child,
#p2Score > p:last-child{
    flex: 6;

    font-size: 9rem;

    border-radius: 0 0 .5rem .5rem;

    background: var(--primary-color);
}

#p1Score > p:first-child,
#p1Score > p:last-child,
#p2Score > p:first-child,
#p2Score > p:last-child{
    z-index: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}


#p1Score > p:last-child{
    color: var(--blue-glow-color);
    text-shadow: 0 0 .125em hsl(0 0% 100% / .4),0 0 .45em var(--blue-glow-color);
}

#p2Score > p:last-child{
    color: var(--pink-glow-color);
    text-shadow: 0 0 .125em hsl(0 0% 100% / .4),0 0 .45em var(--pink-glow-color);

}


#playersTurn{
    grid-column: 1/3;
}


.playArea{
    display: flex;

    justify-content: center;
    align-items: center;

}


#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);


    margin-top: -2rem;

}

.cell{
    width: clamp(9rem, 10vw ,14rem);
    height: clamp(9rem, 10vw ,14rem);
    background: none;
    border: 2px solid var(--main-additionnal-color);
    box-shadow: inset 0 0 .5rem var(--main-additionnal-color);

}


.cell > span{
    font-size: clamp(6rem, 7vw, 8rem);   
}


.cell.end > span{
    opacity: .3;
    transition: 500ms;
}


.cell.win > span {
    animation: slow-glow 5s linear infinite 

}


.cell > span,
#newPlayerData span {
    text-shadow: -1px -1px .125em hsl(0 0% 100% / .4),0 0 .45em var(--player-color);

}


.cell > span[data-token = "X"],
#newPlayerData span.p1,
#p1Score::after,
#p1Score {
    --player-color: var(--blue-glow-color);
    color: var(--player-color);
    
}


.cell > span[data-token = "O"],
#newPlayerData span.p2,
#p2Score::after,
#p2Score{
    --player-color : var(--pink-glow-color);
    color: var(--player-color);
}


.cell[data-column = "0"]{
    border-left: none;
}


.cell[data-row = "0"]{
    border-top: none;
}


.cell[data-column = "2"]{
    border-right: none;
}


.cell[data-row = "2"]{
    border-bottom: none;
}


@keyframes border-flicker {
    0%{
        opacity: .1;
    };

    2%{
        opacity: .7;
    }

    4%{
        opacity: .2;
    }

    12%{
        opacity: .6;
    }

    70%{
        opacity: 1;
    }

    100%{
        opacity: .7;
    }
    
}

@keyframes text-flicker {

    0% {
      opacity: 0.1;
    }
  
    2% {
      opacity: 1;
    }
  
    8% {
      opacity: 0.1;
    }
  
    9% {
      opacity: 1;
    }
  
    12% {
      opacity: 0.1;
    }

    20% {
      opacity: 1;
    }

    25% {
      opacity: 0.3;
    }

    30% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.7;
    }

    72% {
      opacity: 0.2;
    }
  
    77% {
      opacity: 0.9;
    }

    100% {
      opacity: 0.9;
    }
}


@keyframes slow-glow {
    0%{
        opacity: 1;
    }

    20%{
        opacity: .7;
    }

    40%{
        opacity: .9;
    }

    45%{
        opacity: .3;
    }

    52%{
        opacity: .8;
    }

    66%{
        opacity: 1;
    }

    70%{
        opacity: .8;
    }

    75%{
        opacity: .4;
    }

    78%{
        opacity: .7;
    }

    100%{
        opacity: 1;
    }
}

