*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
}

body{
    height: 100vh;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.hidden{
    display: none;
}


.infoArea{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}

#askNewGame{
    height: 100px;
    width: 75%;
}

.playArea{
    display: grid;
    justify-content: center;
    align-items: center;
}

#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    border: 1px solid black;
    height: 600px;
    width: 600px;
}